.order{
    position: relative;
    width: 100%;
    background-color: yellowgreen;
    box-shadow: 3px 3px 3px #ccc;
    padding: 10px;
    margin: 10px;
    margin-left: 0;
    margin-top: 0;
    display: inline-block;
}

.order:hover{
    cursor: pointer;
}

.deleteButton{
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: none;
    padding:5px 10px;
}

.deleteButton:hover{
    cursor: pointer;
}

@media(min-width:500px){
    .order{
        width: 200px;
    }
}